#top{
	background-color:yellow;
	width: 1000px;
	height: 200px;

}
#bottom{
	background-color: blue;
	width: 1000px;
	height: 300px;
}
#center{
	background-color: yellow;
	height: 300px;
	margin: 0px 400px;
	
}