body{
	font-family: serif;
	line-height: 1.7;
	color: black;
	 margin:0 auto;
}


.background{
	background: linear-gradient(white,#fff8cf);
   
}
/*header*/
.page-header{
	position: fixed;
	margin-top: -70px;
	background-color: rgba(255, 255, 128, .5);
	height: 70px;
	width: 100%;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
}
.logo{
	width: 210px;
}
.logo2{
	height: 30px;
	width: 30px;
	margin-left: 55px;

}
.sign-up{
	display: flex;
}
.main-nav{
	display: flex;
	font-size: 20px;
	margin-top: 25px;
	list-style: none;
	margin-right: 50px;
}
.login{
	margin-left: 36px;
}
.main-nav a{
	color: black;
}

.main-nav a:hover{
	color: #fecf8d;
}
.page-header{
	display: flex;
	justify-content: space-between;
}
.search{
	margin-left: 30px;
	margin-top: 30px;
}
.search input:hover{
	color: #fecf8d;
}
.header-left{
	display: flex;
}
.hamburger {
  width: 28px;
  margin: 30px 30px;
  display: none;
}


.hamburger span:after,
.hamburger span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.hamburger span:after {
  top: 9px;
}

.hamburger span {
  position: relative;
  display: block;
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
  width: 100%;
  height: 5px;
  background-color: #ddd;
  transition: all 0.5s; /*←アニメーション*/
  backface-visibility: hidden;
  border-radius: 2px;
}

.hamburger.on span {
  background-color: transparent;
}

.hamburger.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#drower-bg {
  display: none; 
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
}

.drower {
  position: absolute;
  top: 70px;
  height: 100vh;
  width: 200px;
  background-color: rgba(8, 8, 8, .5);
  right: -210px;
  display: none;
}
.drower.on {
  right: 0;
  transition-duration: 600ms;
}


/*title*/

.title{
	text-align: center;
}
.page-title{
	font-size: 90px;
}
.page-subtitle{
	font-size: 50px;	
}
.button{
  color: black;
  font-size: 30px;
  border:1.5px solid black;
  border-radius: 5px
}
.button:hover{
	color:#fecf8d;
}
/*main*/

.main-title{
	text-align: left;
	font-size: 50px;
	border-bottom: 2px double black;
	margin-top: 100px;

}
.main-title strong{
	color: brown;
}
.name-title{
	text-align: center;
	font-size: 50px;
}

.section{
	display: flex;
}
.section p{
	font-size: 30px;
	text-align: center;
}
ul,ol{
	list-style: none;
}
.section ul li:first-letter{
	color: red;
}
.image{
	width: 450px;
	height: 550px;
	border: 2px solid ;
	border-radius: 5px;
	margin-bottom: 10px;
}

.section ul li,ol li{
	font-size: 20px;
	line-height: 2;
}

/* asideここから */
.Contact{
  margin:0 auto;
  height: 250px;
  border-top: 2px double;
}
.info{
  text-align: center;
  font-size: 50px;
  font-family: serif;
}
.bar{
  display: flex;
  justify-content: center;
}

.right-bar{
  margin-left:80px;
}
.left-bar{
  margin-left: 55px;
}
.form-group1{
  margin-bottom: 40px;
}
.input-field{
  height: 23px;
  width:250px;
}
.botton{
  color: black;
  background-color: white;
  font-size: 20px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  margin-left: 680px;
  margin-top: 15px;
  border:2px solid #dddd;
}
.botton:hover{
	color: #fecf8d;
}
/*asideここまで*/

/*ここからfooter*/
footer{
	text-align: center;
	margin-top: 80px;
	border-top: 2px double ;
}
p{
	padding-top: 10px;
	font-size: 15px;
}
/*footerここまで*/

/*タブレット用*/
@media screen and (max-width: 960px){
	/*header*/
.hamburger{
	display: block;
	margin-left: 230px;
}	
.drower-bg{
	display: block;
}
.drower{
	display: block;
	top:55px;
}
.logo{
	width: 180px;
	margin-left: 295px;
}
.page-header{
	margin-left: 0px;	
	margin-top: -50px;
	background-color: rgba(255, 255, 128, .5);
	height: 70px;
}
.title{
	position: relative;
	top: 50px;
}
.header-left .search ,nav{
   display: none;
}
/*headerここまで*/

/*title*/
.page-title{
	font-size: 70px;
}
.page-subtitle{
	font-size: 40px;
}
/*titleここまで*/

/*main*/
.main-title{
	font-size: 40px;
	text-align: center;
}
.name-title{
	font-size: 40px;
	margin-bottom: 0px;
	font-weight: bold;
	border:2px dotted gray;
	letter-spacing: 3px;
}
.section ul li, ol li{
	font-size: 25px;
}
ul,ol{
	padding-left:10px;
}
ol li{
	text-align: center;
}
.image{
	max-width: 100%;
	height: auto;
	margin-left: 150px;
}
section{
	display: flex;
	flex-direction: column;
}

/*mainここまで*/

/*aside*/
.bar{
	display: flex;
flex-flow: column;	
margin-left: 200px;
}

.right-bar{
	margin-left: 45px
}
.info{
	font-size: 30px;
}
.form-group{
	margin-top: 10px;
}
aside .botton{
	margin-left:330px;
}
.form-group1{
 margin-bottom: 0px;
}
.right-bar{
	margin-left: 40px;
}
/*asideここまで*/

/*footer*/
footer{
	margin-top: 90px;
}
/*footerここまで*/
}



/*スマホ用*/
@media screen and (max-width: 480px){

/*header*/
.logo{
	width: 180px;
	margin-left: 95px;
}
.page-header{
	margin-left: 0px;	
	margin-top: -50px;
	background-color: rgba(255, 255, 128, .5);
	height: 70px;
}
.title{
	position: relative;
	top: 50px;
}
.header-left .search ,nav{
   display: none;
}
/*headerここまで*/

/*title*/
.page-title{
	font-size: 50px;
}
.page-subtitle{
	font-size: 28px;
}
/*titleここまで*/

/*main*/
.section{
	display: flex;
	flex-direction: column;

}
.main-title{
	font-size: 30px;
	text-align: center;
}
.name-title{
	font-size: 30px;
	margin-bottom: 0px;
	font-weight: bold;
	border:2px dotted gray;
	letter-spacing: 3px;
}
.section ul li, ol li{
	font-size: 15px;
}
ul,ol{
	padding-left:10px;
}
ol li{
	text-align: center;
}
.image{
	max-width: 100%;
	height: auto;
	margin-left: 0px;
}

/*mainここまで*/

/*aside*/
.bar{
	display: flex;
flex-flow: column;	
margin-left: 0px;
}
.right-bar{
	margin-left: 45px
}
.info{
	font-size: 30px;
}
.form-group{
	margin-top: 10px;
}
aside .botton{
	margin-left:120px;
}
.form-group1{
 margin-bottom: 0px;
}
.right-bar{
	margin-left: 40px;
}
/*asideここまで*/

/*footer*/
footer{
	margin-top: 90px;
}
/*footerここまで*/

}
