.container{
	background-color: blue;
	margin: 0 auto;
	width: 800px;
	height: 500px;
	
}

.yellow{
	background-color: yellow;
	width: 800px;
	height: 100px;
	margin-left: 0;
}

.small.yellow{
	width: 100px;
	height: 200px;
	margin-left: 250px;
	background-color: yellow;
}