/*article*/
article{
	width: 1000px;
	margin:0 auto;
	font-family: ゴッシク体;
	border: medium double black;
}
/*header*/
header{
	background-color: #eaf6fd;
	height: 150px;
	text-align: center;
	padding: 15px 200px 0px 200px;
	letter-spacing: 3px;
	border: double black;
}
h1 {
	font-size:100px;
	color: #de4d4d;
}
p {
	font-size: 30px;
}

/*main*/
main{
	background-color: #eaf6fd;
	height: 650px;
}
.sample{
	width:312px;
	height:550px;
}
section{
	height: 500px;
	width: 320px;
	float: left;
	padding-left: 10px;
}
h2{
    text-align: center;
    font-size: 60px;
    height: 70px;
    padding-top: 20px;
    border: double black;
    background-color: #f7c6bd;
}

ul{
	font-size: 20px;
	text-align: justify;
    text-justify: inter-ideograph;
    line-height: 1.4;
}
ul li:first-letter{
	color: red;
	font-size: 25px;
}
ol{
	font-size: 20px;
	text-align: center;
	list-style: none;
	line-height: 2.5;
}
p{
	text-align: center;
	padding-bottom: 10px;
}
/*aside*/
.contact{
	height: 300px;
	background-color: #eaf6fd;
}
h2{
	text-align: center;
	font-size: 50px;
}

.input-field{
	width: 240px;
	height:40px;
	line-height: 40px;
	box-sizing: border-box;
}
.form-group1{
	padding:20px 220px;
}

.form-group2{
	float: right;
	position: relative;
	bottom: 130px;
	right: 100px;
}

.form-group2 input{
	width: 340px;
	height: 100px;
}
.botton{
	background-color: #009cd3;
	color: #fff;
	font-size: 20px;
	width: 120px;
	text-align: center;
	border-radius: 5px;
	margin-left: 430px;
	border:3px solid #009cd3;
}
/*footer*/
footer{
	background-color: #f7c6bd;
	height: 30px;
}
footer p{
	font-size: 15px;
    padding-top: 10px;
    margin-left: 320px;
}