body{
  background-color: #ccc;
}

.swiper-container{
  width: 600px;
}

.swiper-slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img{
  width: 300px;
  height: 300px;
}